body {
  background-color: #E1E5EA;
  position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

hr {
  height: auto;
  width:8%;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-top-width: 1ex;
  margin-left: 250px;
}
h1 {
  color: #DA7F8F;

}
h3 {color: #1F6F8B;}
h2 {
  color: #DA7F8F;
}
a:visited{
  color: inherit;
}

a:-webkit-any-link{
  color: #1F6F8B;
}
